<div class="form-group">
  <label for="input-access-code">What's your Noom access code?</label>
  <input type="text" class="form-control" id="input-access-code" placeholder="XXXXXXXX">
</div>
<button class="btn btn-default" id="submit-input-access-code">Submit</button>